<p id="notice"><%= notice %></p>

<h2>Посты</h2> <br />
    <% @posts.each do |post| %>

<table>

  <thead>
    <tr>
      Author:  <b><%= post.user.email %></b> <br />
    </tr>
  </thead>

  <tbody>
      <tr>
      

        Title: <b><%= post.title %></b> <br />
        <%= post.content %> <br />
        <%= link_to ' Показать', post , class: "btn btn-default btn-sm" %>
        <%= link_to ' Редактировать', edit_post_path(post) , class: "btn btn-default btn-sm" %>
        <%= link_to ' Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default btn-sm"%> <br />

        Создано: <%= post.created_at %> <br />
      </tr>
        _______________________________
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать пост', new_post_path, class: "btn btn-success btn-lg" %>
