<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    


    <title>Notepad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <!-- Классы navbar и navbar-default -->
<nav class="navbar navbar-inverse" role="navigation" >
  <!-- Контейнер -->
  <div class="container-fluid">
    <!-- Заголовок -->
    <div class="navbar-header">
      <!-- Кнопка «Гамбургер» -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class=sr-only>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Бренд или название сайта -->
      <a class="navbar-brand" href="/">Notebook</a>
    </div>
    <!-- Основная часть меню -->
    <div class="collapse navbar-collapse" id="navbar-main">
    
      <!-- Содержимое основной части -->
      <ul class="nav navbar-nav">
      
        <li><a href="#">Записи</a></li>
      </ul> 
       <ul class="nav navbar-nav navbar-right">
        <!-- Выпадающий список -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профиль<span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li><a href="#"><%= link_to "Редактировать профиль", edit_user_registration_path %></a></li>
            <li><a href="#"><%= link_to "Выйти", destroy_user_session_path, method: :delete %></a></li>
          <% else %>  
            <li><a href="#"><%= link_to "Вход", new_user_session_path %></a></li>
            <li><a href="#"><%= link_to "Регистрация", new_user_registration_path %></a></li>
          <% end %>
          </ul>
        </li>
      </ul>   
    </div>
  </div>
</nav>
<!-- вирівнювання по центру -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
