<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    


    <title>Notepad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-inverse" role="navigation" >
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">Главная</a>
              </div>
              
              <ul class="nav navbar-nav navbar-right">
                      <% if user_signed_in? %>
                        <li><%= link_to "Профиль", edit_user_registration_path %></li>
                        <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
                      <% else %>
                        <li><%= link_to "Вход", new_user_session_path %></li>
                        <li><%= link_to "Регистрация", new_user_registration_path %></li>
                  <% end %>
              </ul>
            </div>
         </div> 
        </div>
      </div>
    </nav>
<!-- вирівнювання по центру -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
